﻿@model NotasMvc.Entities.Note

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function AppliStyle(style) {
        document.execCommand(style, false, '');
        refresh();
    }

    function refresh() {
        var me = document.getElementById("contentEditor");
        var hi = document.getElementById("contentEditorHidden");
        hi.value = me.innerHTML.replace(/</g, "_lt_")
                     .replace(/>/g, "_gt_");
    }
</script>

<div class="row pv-20">
    @using (Html.BeginForm(Html.BeginForm(null, null, FormMethod.Post, new { id = "myform" })))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-xs-12 col-md-8 col-md-offset-2 panel panel-default ph-0 rounded-top">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-header">
                <div class="col-md-12 text-center text-title form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-xs-12 col-md-12" })

                    <div class="col-xs-12 col-md-12">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 pv-20">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-center panel-footer-static">
                    <a href="#" onclick="AppliStyle('bold');" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 fa fa-bold pv-10"></a>
                    <a href="#" onclick="AppliStyle('italic');" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 fa fa-italic pv-10"></a>
                    <a href="#" onclick="AppliStyle('underline');" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 fa fa-underline  pv-10"></a>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <section id="contentEditor" contenteditable="true" class="form-control richTextBox" >
                        @(new HtmlString(Model.Content))
                    </section>

                    @Html.Hidden("contentEditorHidden")
                </div>

            </div>
            
            <div class="col-xs-4 col-md-2 col-md-offset-10 col-xs-offset-8 panel-footer-static">
                <div class="col-xs-6 col-md-6 pv-10">
                    @Html.ActionLink(" ", "Index", "", new { @class = "fa fa-mail-reply" })
                
                </div>
                <div class="col-xs-6 col-md-6 pv-10">
                    <a href="#" onclick="refresh(); document.getElementById('myform').submit();" class="fa fa-save"></a>
                </div>

            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>