﻿@model NotasMvc.Entities.Note

@{
    ViewBag.Title = "Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pv-20">
    <div class="form-horizontal col-xs-12 col-md-8 col-md-offset-2 panel panel-default ph-0 rounded-top">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-header">
            <div class="col-md-12 text-center text-title">
                @Html.DisplayFor(model => model.Title)
            </div>

            <div class="col-xs-2 col-md-2">
                @Html.LabelFor(model => model.Id, new { @class = "control-label" })
                @Html.DisplayFor(model => model.Id)
            </div>

            <div class="col-xs-5 col-md-5">
                @Html.LabelFor(model => model.Creation, new { @class = "control-label" })
                @Html.DisplayFor(model => model.Creation)
            </div>
            <div class="col-xs-5 col-md-5">
                @Html.LabelFor(model => model.LastModification, new { @class = "control-label" })
                @Html.DisplayFor(model => model.LastModification)
            </div>
        </div>

        <div class="col-md-12 pv-10 ">
            @(new HtmlString(Model.Content))
        </div>

        <div class="col-xs-4 col-md-2 col-md-offset-10 col-xs-offset-8 panel-footer-static">
            <div class="col-xs-6 col-md-6 pv-10">
                @Html.ActionLink(" ", "Index", "", new { @class = "fa fa-mail-reply" })
                
            </div>
            <div class="col-xs-6 col-md-6 pv-10">
                @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "fa fa-pencil" })
            </div>

        </div>
    </div>
</div>