﻿
@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pv-20">
    @using (Html.BeginForm(Html.BeginForm(null, null, FormMethod.Post, new { id = "myform" })))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal col-xs-12 col-md-8 col-md-offset-2 panel panel-default ph-0 rounded-top">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-header text-center text-title">
            <label class="control-label">Busqueda de Notas</label>
        </div>
        
        <div class="col-xs-12 col-md-12 pv-20 ph-50">
            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <strong class="color-default">ID</strong> (Id igual a)
                </div>
            
                @Html.TextBox("findId", "", new {@class = "form-control col-xs-12 col-md-12"})
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <strong class="color-default">Titulo</strong> (que el titulo contenga)
                </div>
                @Html.TextBox("findTitle", "", new {@class = "form-control col-xs-12 col-md-12"})
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-12">
                    <strong class="color-default">Mensaje</strong> (que el mensaje contenga)
                </div>
                @Html.TextBox("findContent", "", new { @class = "form-control col-xs-12 col-md-12" })
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>*@
        
        <div class="col-xs-4 col-md-2 col-md-offset-10 col-xs-offset-8 panel-footer-static">
            <div class="col-xs-6 col-md-6 pv-10">
                @Html.ActionLink(" ", "Index", "", new { @class = "fa fa-mail-reply" })
                
            </div>
            <div class="col-xs-6 col-md-6 pv-10">
                <a href="#" onclick="document.getElementById('myform').submit();" class="fa fa-search"></a>
            </div>

        </div>
    </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}