﻿@using System.Diagnostics.Eventing.Reader
@model IEnumerable<NotasMvc.Entities.Note>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function deleteRecord(id, titulo) {
        document.getElementById("deleteId").innerText = id;
        document.getElementById("deleteTitle").innerText = titulo;
        document.getElementById("deleteLink").href = "/Notes/Delete/" + id;

        $("#deleteModal").modal();
    }
</script>


<div class="row pv-20">
    <div class="col-xs-12 col-md-12 ">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            @Html.ActionLink(" ", "Create", "", new { @class = "btn btn-primary radius-50 btn-default-transparent fa fa-plus fa-2x" })
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            @Html.ActionLink(" ", "Find", "", new { @class = "btn btn-primary radius-50 btn-default-transparent fa fa-filter fa-2x" })
        </div>
    </div>
</div>

<div class="row">


    @foreach (var item in Model)
    {
    <div class="col-xs-12 col-md-8 col-md-offset-2 panel panel-default ph-0 rounded-top h15">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-header">
            <div class="col-md-12 text-center text-title">
                @Html.DisplayFor(modelItem => item.Title)
            </div>

            <div class="col-xs-2 col-md-2">
                @Html.LabelFor(modelItem => item.Id, new { @class = "control-label" })
                @Html.DisplayFor(modelItem => item.Id)
            </div>

            <div class="col-xs-5 col-md-5">
                @Html.LabelFor(modelItem => item.Creation, new { @class = "control-label" })
                @Html.DisplayFor(modelItem => item.Creation)
            </div>
            <div class="col-xs-5 col-md-5">
                @Html.LabelFor(modelItem => item.LastModification, new { @class = "control-label" })
                @Html.DisplayFor(modelItem => item.LastModification)
            </div>

        </div>

        <div class="col-md-12 pv-10 mensaje ">
            @(new HtmlString(item.Content))
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-footer hidden-xs hidden-sm ">
            <div class="col-xs-2 col-md-1">
                @if (item.IsAnchored)
                {
                    @Html.ActionLink(" ", "Anchored", new { id = item.Id }, new { @class = "fa fa-times" })
                }
                else
                {
                    @Html.ActionLink(" ", "Anchored", new { id = item.Id }, new { @class = "fa fa-thumb-tack" })
                }
            </div>
            <div class="col-xs-2 col-md-1 col-xs-offset-1 col-md-offset-2">
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
            </div>
            <div class="col-xs-2 col-md-1">
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-eye" })
            </div>
            <div class="col-xs-2 col-md-1 col-xs-offset-3 col-md-offset-6">
                <a href="javascript:deleteRecord(@item.Id, '@item.Title');"><i class="fa fa-trash color-danger"></i></a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-footer-xs  panel-footer-static hidden-md hidden-lg">
            <div class="col-xs-2 col-md-1 pv-10">
                @if (item.IsAnchored)
                {
                    @Html.ActionLink(" ", "Anchored", new { id = item.Id }, new { @class = "fa fa-times" })
                }
                else
                {
                    @Html.ActionLink(" ", "Anchored", new { id = item.Id }, new { @class = "fa fa-thumb-tack" })
                }
            </div>
            <div class="col-xs-2 col-md-1 col-xs-offset-1 col-md-offset-2 pv-10">
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
            </div>
            <div class="col-xs-2 col-md-1 pv-10">
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-eye" })
            </div>
            <div class="col-xs-2 col-md-1 col-xs-offset-3 col-md-offset-6 pv-10">
                <a href="javascript:deleteRecord(@item.Id, '@item.Title');"><i class="fa fa-trash color-danger"></i></a>
            </div>
        </div>
    </div>
    }
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header background-default color-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title ">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea borrar la nota</p>
                <p>ID: <strong id="deleteId"></strong></p>
                <p>Titulo: <strong id="deleteTitle"></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">No</button>
                @Html.ActionLink("Si", "Delete", new { id = 5 }, new { @id = "deleteLink" , @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>
