﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-0">

    <div class="navbar navbar-inverse navbar-fixed-top text-center hidden-xs hidden-sm">
        <h1 class="color-white">Notas</h1>
    </div>
    <div class="navbar navbar-inverse navbar-static-top text-center hidden-md hidden-lg">
        <h1 class="color-white">Notas</h1>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
