﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(232, 232, 232);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.form-horizontal .control-label {
    text-align: left;
}

.ph-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-50 {
    padding-right: 50px;
    padding-left: 50px;
}

.pr-30 {
    padding-right: 30px;
}


.mt-20 {
    margin-top: 20px;
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel {
    
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.h15 {
    height: 15em;
}


.mensaje {
    height: 9.5em;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.panel > .panel-footer {
    position: absolute;
    bottom: 0%;
    visibility: hidden;
    transition: all .50s ease;
    transform: scaleY(0);
    background-color: white;
    background-color: rgba(255, 255, 255, 0.80);
}

.panel-footer-xs {
    position: absolute;
    bottom: 0%;
}

.panel-footer-static {
    background-color: #dfdfdf;
    background-color: rgba(223, 223, 223, 0.84);
}




.panel:hover > .panel-footer {
    visibility: visible;
    transform: scaleY(1);
}

.color-white {
    color: white;
}

.color-default {
    color: #337ab7;
}

.color-danger {
    color: rgb(182, 9, 9);
}

body {
    padding-top: 70px;
}

@media (max-width: 991px) {
    body {
        padding-top: 0px;
    }
}

.background-default {
    background-color: #337ab7;
}

.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab7;
}

.radius-50 {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.btn-default-transparent {
    color: #337ab7;
    background-color: transparent;
    border-color: #337ab7;
    height: 45px;
    width: 45px;
    background-color: white;
}

.btn-default-transparent-sm {
    color: #337ab7;
    background-color: transparent;
    border-color: #337ab7;
    height: 30px;
    width: 30px;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pv-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.panel-header {
    background-color: #337ab7;
    color: white;
}

.text-title {
    font-family: calibri;
    font-size: 2em;
    font-weight: bold
}

.richTextBox {
    height: 12em;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-right: 10px;
}
